@use "./vars" as *;

:export {
  mdn-red100: $mdn-red100;
  mdn-red200: $mdn-red200;
  mdn-red300: $mdn-red300;
  mdn-red400: $mdn-red400;
  mdn-red500: $mdn-red500;
  mdn-red600: $mdn-red600;
  mdn-red700: $mdn-red700;
  mdn-red800: $mdn-red800;
  mdn-red900: $mdn-red900;
  mdn-orange100: $mdn-orange100;
  mdn-orange200: $mdn-orange200;
  mdn-orange300: $mdn-orange300;
  mdn-orange400: $mdn-orange400;
  mdn-orange500: $mdn-orange500;
  mdn-orange600: $mdn-orange600;
  mdn-orange700: $mdn-orange700;
  mdn-orange800: $mdn-orange800;
  mdn-orange900: $mdn-orange900;
  mdn-yellow100: $mdn-yellow100;
  mdn-yellow200: $mdn-yellow200;
  mdn-yellow300: $mdn-yellow300;
  mdn-yellow400: $mdn-yellow400;
  mdn-yellow500: $mdn-yellow500;
  mdn-yellow600: $mdn-yellow600;
  mdn-yellow700: $mdn-yellow700;
  mdn-yellow800: $mdn-yellow800;
  mdn-yellow900: $mdn-yellow900;
  mdn-green100: $mdn-green100;
  mdn-green200: $mdn-green200;
  mdn-green300: $mdn-green300;
  mdn-green400: $mdn-green400;
  mdn-green500: $mdn-green500;
  mdn-green600: $mdn-green600;
  mdn-green700: $mdn-green700;
  mdn-green800: $mdn-green800;
  mdn-green900: $mdn-green900;
  neutral100: $mdn-neutral100;
  neutral200: $mdn-neutral200;
  neutral300: $mdn-neutral300;
  neutral400: $mdn-neutral400;
  neutral500: $mdn-neutral500;
  neutral600: $mdn-neutral600;
  neutral600: $mdn-neutral700;
  neutral600: $mdn-neutral800;
  neutral600: $mdn-neutral900;
  textColor: $text-color;
  textColorInverted: $text-color-inverted;
  linkColor: $link-color;
  standardGradient: $standard-gradient;
  blueGradient: $blue-gradient;
  overlayBackgroundColor: $overlay-background-color;
}
