@import "./vars/color-palette";

:export {
  primary100: $primary-100;
  primary110: $primary-110;
  primary200: $primary-200;
  primary300: $primary-300;
  primary400: $primary-400;
  primary500: $primary-500;
  primary510: $primary-510;
  primary600: $primary-600;
}
