/* borders */
/* should be defined in `atoms/_borders.scss` */
/* should be defined in `atoms/....scss` - TBD */
/* MDN SCHEME
kuma/static/styles/includes/_vars.scss
--------------------------------------------------
*/
/* MDN GENERAL
kuma/static/styles/includes/_vars.scss
--------------------------------------------------
*/
/* TODO */
/* MDN STATES
kuma/static/styles/includes/_vars.scss
--------------------------------------------------
*/
/* MDN TOC WIKI
kuma/static/styles/includes/_vars.scss
--------------------------------------------------
*/
/* MDN EXAMPLES SYNTAX
kuma/static/styles/components/syntax/example.scss
--------------------------------------------------
*/
/* MDN PROMOTE
kuma/static/styles/promote.scss
--------------------------------------------------
*/
/* MDN CONTENT
kuma/static/styles/components/content.scss
This table style is also defined in 
kuma/static/styles/includes/_vars.scss
--------------------------------------------------
*/
/* MDN TAGS
kuma/static/styles/components/tags.scss
--------------------------------------------------
*/
/* MDN FORMS
kuma/static/styles/includes/_vars.scss
--------------------------------------------------
*/
/* MDN USERS
kuma/static/styles/components/users/_vars.scss
--------------------------------------------------
*/
/* MDN BANNERS
kuma/static/styles/components/banners/_vars.scss
--------------------------------------------------
*/
/* MDN PAYMENTS
kuma/static/styles/components/payments/_vars.scss
--------------------------------------------------
*/
/* MDN BCD
Not using site default colours, to increase difference
between colours for colour blind users
kuma/static/styles/components/compat-tables/_vars.scss
--------------------------------------------------
*/
/* MDN MAIN-NAV
kuma/static/styles/components/structure/page-header/_vars_nav.scss
-------------------------------------------------------------------
*/
/* Fonts */
/* Based on a modular scale with a base of 18px and a 
   perfect fourth ratio of 1.333 - 
   https://type-scale.com/?size=18&scale=1.333&text=A%20Visual%20Type%20Scale&font=Zilla%20Slab&fontweight=700&bodyfont=Fira%20Sans&bodyfontweight=400&lineheight=1.65&backgroundcolor=white&fontcolor=%23333&preview=false */
/* approx 72ch for base font size and HHGTTG reference */
@font-face {
  font-family: zillaslab;
  font-display: swap;
  src: url("../typography/ZillaSlab-Bold.subset.woff2") format("woff2"), url("../typography/ZillaSlab-Bold.subset.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

h1,
h2,
h3,
h4,
h5 {
  font-family: zillaslab, palatino, "Palatino Linotype", serif;
  line-height: 1.2; }

h1 {
  font-size: 4.209rem; }

h2 {
  font-size: 3.157rem; }

h3 {
  font-size: 2.369rem; }

h4 {
  font-size: 1.777rem; }

h5 {
  font-size: 1.333rem; }

p {
  margin-bottom: 24px; }

.tiny-text {
  font-size: 0.75rem; }

.readable-line-length {
  max-width: 42rem; }

/* text links */
a:link,
a:visited {
  color: #3d7e9a;
  text-decoration: none; }
  a:link:hover, a:link:focus, a:link:active,
  a:visited:hover,
  a:visited:focus,
  a:visited:active {
    text-decoration: underline; }

/* mono space elements pre, code, kbd */
code {
  background-color: rgba(220, 220, 220, 0.5);
  box-decoration-break: clone;
  padding: 0 2px;
  border-radius: 2px;
  font-family: consolas, "Liberation Mono", courier, monospace;
  word-wrap: break-word; }

/* See https://hankchizljaw.com/wrote/a-modern-css-reset/ */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box; }

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0; }

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0; }

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5; }

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none; }

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto; }

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block; }

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em; }

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit; }

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  /* We are relaxing the `declaration-no-important` here
     because we want to ensure that code further down the
     cascade will adhere to this accessibility enhancement */
  /* stylelint-disable declaration-no-important */
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important; } }

/* Fonts */
/* Based on a modular scale with a base of 18px and a 
   perfect fourth ratio of 1.333 - 
   https://type-scale.com/?size=18&scale=1.333&text=A%20Visual%20Type%20Scale&font=Zilla%20Slab&fontweight=700&bodyfont=Fira%20Sans&bodyfontweight=400&lineheight=1.65&backgroundcolor=white&fontcolor=%23333&preview=false */
/* approx 72ch for base font size and HHGTTG reference */
/* should be defined in `atoms/_borders.scss` */
/* should be defined in `atoms/....scss` - TBD */
/* MDN SCHEME
kuma/static/styles/includes/_vars.scss
--------------------------------------------------
*/
/* MDN GENERAL
kuma/static/styles/includes/_vars.scss
--------------------------------------------------
*/
/* TODO */
/* MDN STATES
kuma/static/styles/includes/_vars.scss
--------------------------------------------------
*/
/* MDN TOC WIKI
kuma/static/styles/includes/_vars.scss
--------------------------------------------------
*/
/* MDN EXAMPLES SYNTAX
kuma/static/styles/components/syntax/example.scss
--------------------------------------------------
*/
/* MDN PROMOTE
kuma/static/styles/promote.scss
--------------------------------------------------
*/
/* MDN CONTENT
kuma/static/styles/components/content.scss
This table style is also defined in 
kuma/static/styles/includes/_vars.scss
--------------------------------------------------
*/
/* MDN TAGS
kuma/static/styles/components/tags.scss
--------------------------------------------------
*/
/* MDN FORMS
kuma/static/styles/includes/_vars.scss
--------------------------------------------------
*/
/* MDN USERS
kuma/static/styles/components/users/_vars.scss
--------------------------------------------------
*/
/* MDN BANNERS
kuma/static/styles/components/banners/_vars.scss
--------------------------------------------------
*/
/* MDN PAYMENTS
kuma/static/styles/components/payments/_vars.scss
--------------------------------------------------
*/
/* MDN BCD
Not using site default colours, to increase difference
between colours for colour blind users
kuma/static/styles/components/compat-tables/_vars.scss
--------------------------------------------------
*/
/* MDN MAIN-NAV
kuma/static/styles/components/structure/page-header/_vars_nav.scss
-------------------------------------------------------------------
*/
/*
media queries
- MDN should be coded "mobile first"
- when coding features, begin by coding the mobile presentation as default
- use the min-width MQs to modify presentation for larger screens
*/
/* borders */
html {
  box-sizing: border-box;
  background-color: #fff;
  color: #333; }

*,
*:before,
*:after {
  box-sizing: inherit; }

body {
  line-height: 1.6;
  font-family: arial, x-locale-body, sans-serif;
  letter-spacing: -0.0027777778rem;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
