$standard-light-border: ($base-unit / 3) solid $neutral-600;
$standard-primary-border: ($base-unit / 3) solid $primary-50;

$thin-primary-border: 1px solid $primary-200;

$code-example-border: $base-unit solid $primary-50;
$standard-table-border: $base-unit solid $green-100;
$property-table-border: $base-unit solid $primary-50;

$default-border-radius: 6px;
