$primary-100: #1e7f9d;
$primary-200: #216b82;
$primary-300: #d75752;
$primary-400: #c14238;
$primary-500: #4d9f0c;
$primary-600: #3b7b08;

$neutral-100: #212121;
$neutral-200: #333;
$neutral-300: #626262;
$neutral-400: #8e8e8e;
$neutral-500: #c9c9c9;
$neutral-600: #fff;

$text-color: $neutral-100;
$text-color-inverted: $neutral-600;
$link-color: $primary-100;
