/* mdn color palette v2 */
$black: #000;
$white: #fff;

$mdn-neutral100: #e9e9e9;
$mdn-neutral200: #d5d5d5;
$mdn-neutral300: #bababa;
$mdn-neutral400: #a4a4a4;
$mdn-neutral500: #8a8a8a;
$mdn-neutral600: #6d6d6d;
$mdn-neutral700: #4e4e4e;
$mdn-neutral800: #343434;
$mdn-neutral900: #1b1b1b;

$mdn-blue100: #ddeaff;
$mdn-blue200: #bbd8ff;
$mdn-blue300: #83bfff;
$mdn-blue400: #3eabff;
$mdn-blue500: #0090e0;
$mdn-blue600: #0072b3;
$mdn-blue700: #005282;
$mdn-blue800: #003759;
$mdn-blue900: #001c32;

$mdn-green100: #90ffc5;
$mdn-green200: #78ebb1;
$mdn-green300: #00d58b;
$mdn-green400: #00bc7a;
$mdn-green500: #009e66;
$mdn-green600: #007d50;
$mdn-green700: #005a38;
$mdn-green800: #003d24;
$mdn-green900: #002011;

$mdn-yellow100: #fbec74;
$mdn-yellow200: #e6d75b;
$mdn-yellow300: #cbbd30;
$mdn-yellow400: #b4a700;
$mdn-yellow500: #978c00;
$mdn-yellow600: #786e00;
$mdn-yellow700: #575000;
$mdn-yellow800: #3a3500;
$mdn-yellow900: #1e1b00;

$mdn-red100: #fae4e5;
$mdn-red200: #f8c9ca;
$mdn-red300: #fba3a4;
$mdn-red400: #ff7d7e;
$mdn-red500: #ff4044;
$mdn-red600: #db000e;
$mdn-red700: #a30008;
$mdn-red800: #700003;
$mdn-red900: #3f0001;

$mdn-orange100: #fae4e2;
$mdn-orange200: #f8cac5;
$mdn-orange300: #fba499;
$mdn-orange400: #ff7f69;
$mdn-orange500: #f84e00;
$mdn-orange600: #c53c00;
$mdn-orange700: #922a00;
$mdn-orange800: #641a00;
$mdn-orange900: #380a00;

/* mdn color palette v1 */
$primary-50: #00458b;
$primary-100: #216b82;
$primary-200: #1e7f9d;
$primary-300: #83d0f2;
$primary-400: #c2e8f9;
$primary-500: #dcf4ff;

$red-100: #95353a;
$red-200: #b54248;
$red-300: #d0454c;
$red-400: #ffbdbd;
$red-450: #ffeef0;

$orange-100: #a14400;
$orange-200: #c25100;
$orange-300: #e56a2e;
$orange-400: #ffd9bd;

$yellow-100: #b49e35;
$yellow-200: #cab23f;
$yellow-300: #e1c542;
$yellow-400: #fef1b6;

$green-100: #276738;
$green-200: #367b48;
$green-300: #529e66;
$green-400: #ebf8e1;

$neutral-100: #212121;
$neutral-200: #333;
$neutral-300: #626262;
$neutral-400: #8e8e8e;
$neutral-500: #c9c9c9;
$neutral-525: #cdd5d7;
$neutral-550: #eee;
$neutral-575: #fafafa;
$neutral-600: #fff;

$success-100: $green-300;
$success-200: $green-200;
$success-300: $green-100;

$warning-100: $yellow-300;
$warning-200: $yellow-200;
$warning-300: $yellow-100;

$error-100: $red-300;
$error-200: $red-200;
$error-300: $red-100;

$text-color: $neutral-100;
$text-color-inverted: $neutral-600;
$link-color: $primary-50;

/* Gradients */
$blockquote-gradient: linear-gradient(to right, $primary-50, $primary-300);
$standard-gradient: linear-gradient(to right, $primary-300, $green-400);
$blue-gradient: linear-gradient(to right, $primary-100, $primary-300);
$light-gray-gradient: linear-gradient(to bottom, $neutral-550, $neutral-600);

/* Overlays */
$overlay-background-color: rgba(0, 0, 0, 0.5);

/* Shadows */
$light-gray-shadow: 0 1px 2px 1px $neutral-525;
