/* MDN SCHEME
kuma/static/styles/includes/_vars.scss
--------------------------------------------------*/
$red: #e66465;
$orange: #f69d3c;
$yellow: #f6b73c;
$green: #4d9f0c;
$blue: #3d7e9a;
$purple: #9198e5;
$grey: #696969;

$red-light: #ffe7e8;
$orange-light: #ffe8d4;
$yellow-light: #fff3d4;
$green-light: #ebf8e1;
$blue-light: #e4f0f5;
$purple-light: #d7d9f2;
$grey-light: #eee;

$red-vdark: #5d3739;
$orange-vdark: #332206;
$yellow-vdark: #332807;
$green-vdark: #162300;
$blue-vdark: #001d33;
$purple-vdark: #303253;
$grey-vdark: #151515;

$red-dark: mix($red, $red-vdark, 65);
$orange-dark: mix($orange, $orange-vdark, 65);
$yellow-dark: mix($yellow, $yellow-vdark, 65);
$green-dark: mix($green, $green-vdark, 65);
$blue-dark: mix($blue, $blue-vdark, 65);
$purple-dark: mix($purple, $purple-vdark, 65);
$grey-dark: mix($grey, $grey-vdark, 65);

$colors-lookup: (
  "negative": (
    "light": $red-light,
    "medium": $red,
    "dark": $red-dark,
    "vdark": $red-vdark
  ),
  "warning": (
    "light": $yellow-light,
    "medium": $yellow,
    "dark": $yellow-dark,
    "vdark": $yellow-vdark
  ),
  "positive": (
    "light": $green-light,
    "medium": $green,
    "dark": $green-dark,
    "vdark": $green-vdark
  ),
  "neutral": (
    "light": $blue-light,
    "medium": $blue,
    "dark": $blue-dark,
    "vdark": $blue-vdark
  ),
  "default": (
    "light": $grey-light,
    "medium": $grey,
    "dark": $grey-dark,
    "vdark": $grey-vdark
  )
);

$negative: $red;
$warning: $yellow;
$positive: $green;
$neutral: $blue;
$default: $grey;

/* MDN GENERAL
kuma/static/styles/includes/_vars.scss
--------------------------------------------------*/
$text-color: #333;
$link-color: #3d7e9a;
$menu-link-color: $text-color;
$blue-background-text-color: #fff;
$light-background-color: #{map-get(map-get($colors-lookup, "default"), "light")};
$header-background-color: $light-background-color;
$code-block-background-color: #{map-get(
    map-get($colors-lookup, "default"),
    "light"
  )};
$code-block-background-alt-color: #{map-get(
    map-get($colors-lookup, "neutral"),
    "light"
  )}; /* TODO */
$code-block-border-color: #{map-get(
    map-get($colors-lookup, "neutral"),
    "medium"
  )};

$accent-light: #83d0f2;
$accent-dark: #216684;

$text-dark: $text-color;
$text-light: #fff;
$bg-dark: #222;

/* MDN STATES
kuma/static/styles/includes/_vars.scss
--------------------------------------------------*/
$error: #900;

/* MDN TOC WIKI
kuma/static/styles/includes/_vars.scss
--------------------------------------------------*/
$toc-background-color: #fcfcfc;
$toc-border-color: #dce3e5;
$toc-gradient-start-color: #206584;
$toc-gradient-end-color: #83d0f2;

/* MDN EXAMPLES SYNTAX
kuma/static/styles/components/syntax/example.scss
--------------------------------------------------*/
$bg-good: mix($positive, #fff, 5%);
$bg-bad: mix($negative, #fff, 5%);

/* MDN PROMOTE
kuma/static/styles/promote.scss
--------------------------------------------------*/
$box-border-hover-color: #25a;

/* MDN CONTENT
kuma/static/styles/components/content.scss
This table style is also defined in 
kuma/static/styles/includes/_vars.scss
--------------------------------------------------*/
$table-blue: #d4dde4;

/* MDN TAGS
kuma/static/styles/components/tags.scss
--------------------------------------------------*/
$tag-border-color: #cee9f9;

/* MDN FORMS
kuma/static/styles/includes/_vars.scss
--------------------------------------------------*/
$form-border-color: #9b9b9b;
$placeholder-text: lighten($form-border-color, 2);

/* MDN USERS
kuma/static/styles/components/users/_vars.scss
--------------------------------------------------*/
$user-head-secondary-text-color: #a19f93;

/* MDN BANNERS
kuma/static/styles/components/banners/_vars.scss
--------------------------------------------------*/
$cta-deep-blue: #161e65;

/* MDN PAYMENTS
kuma/static/styles/components/payments/_vars.scss
--------------------------------------------------*/
$payment-background-colors: #83cff3, #ebf8e1;
$payment-background-gradient: linear-gradient(
  to right,
  nth($payment-background-colors, 1),
  nth($payment-background-colors, 2)
);
$payment-faq-base-color: #3143e2;

/* MDN BCD
Not using site default colours, to increase difference
between colours for colour blind users
kuma/static/styles/components/compat-tables/_vars.scss
--------------------------------------------------*/
$bc-colors: (
  yes: #e4f8e1,
  no: #f8e1e1,
  partial: $yellow-light,
  unknown: $grey-light
);

/* MDN MAIN-NAV
kuma/static/styles/components/structure/page-header/_vars_nav.scss
-------------------------------------------------------------------*/
$main-nav-box-shadow-color: rgba(12, 12, 13, 0.1);
$main-menu-border-color: #d8dfe2;
$main-menu-item-background-color: #3d7e9a;
