/* Fonts */
$heading-font-family-fallback: palatino, "Palatino Linotype", serif;
$heading-font-family: zillaslab, $heading-font-family-fallback;
$site-font-family-fallback: x-locale-body, sans-serif;
$site-font-family: arial, $site-font-family-fallback;

$code-inline-font-family: consolas, "Liberation Mono", courier, monospace;

$base-font-size: 18px;
$document-line-height: 1.6;
$heading-line-height: 1.2;

/* Desktop and tablet typescale based on perfect fourth typescale with a base of 18px */
$xxl-font-size: 4.209rem; /* 75.76px */
$xl-font-size: 3.157rem; /* 56.83px */
$large-font-size: 2.369rem; /* 42.63px */
$medium-font-size: 1.777rem; /* 32px */
$small-medium-font-size: 1.333rem; /* 24px */

/* Mobile typescale based on minor third typescale with a base of 18px */
$xxl-font-size-mobile: 2.488rem;
$xl-font-size-mobile: 2.074rem;
$large-font-size-mobile: 1.728rem;
$medium-font-size-mobile: 1.44rem;
$small-medium-font-size-mobile: 1.2rem;

$default-font-size: 1rem; /* 18px */
$small-font-size: 0.9rem; /* 16px */
$tiny-text: 0.75rem; /* 13.5px */

/* approx 72ch for base font size and HHGTTG reference */
$max-line-length: 42rem;
