/* Fonts */
$site-font-family-fallback: x-locale-body, sans-serif;
$site-font-family: Arial, $site-font-family-fallback;
$heading-font-family-fallback: Palatino, "Palatino Linotype",
  x-locale-heading-secondary, serif;
$heading-font-family: x-locale-heading-primary, zillaslab,
  $heading-font-family-fallback;

$code-inline-font-family: consolas, "Liberation Mono", courier, monospace;

$document-line-height: 1.6;
$h1-heading-line-height: 1;
$heading-line-height: 1.2;

/* Based on a modular scale with a base of 18px and a 
   perfect fourth ratio of 1.333 - https://www.modularscale.com/?18&px&1.333 */
$base-font-size: 18px;
$h1-font-size: 4.209rem;
$h2-font-size: 3.157rem;
$h3-font-size: 2.369rem;
$h4-font-size: 1.777rem;
$h5-font-size: 1.333rem;

$mobile-h2-font-size: $h3-font-size;
