html {
  background-color: $neutral-600;
  box-sizing: border-box;
  color: $text-color;
}

body {
  @include set-site-font-family();
  @include font-smoothing();
  font-size: $base-font-size;
  line-height: $document-line-height;
}

img {
  height: auto;
}
