@use "../vars" as *;
@use "../mixins" as *;

html {
  background-color: $white;
  box-sizing: border-box;
  color: $text-color;

  &:focus-within {
  scroll-behavior: smooth;
  }
}

body {
  @include set-site-font-family();
  @include font-smoothing();
  font-size: $base-font-size;
  line-height: $document-line-height;
}

img {
  height: auto;
}
