.button,
a.button {
  @include button-state();

  border-radius: 4px;
  cursor: pointer;
  display: block;
  font-weight: bold;
  max-width: max-content;
  min-height: 45px;
  padding: 10px 20px;
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: none;
  }

  &:active {
    text-decoration: none;
  }
}

.outline,
a.outline {
  @include outline-button-state(
    $border-color: $primary-100,
    $text-hover-color: $neutral-600
  );
}

.danger,
a.danger {
  @include button-state($bg-color: $primary-300, $bg-hover-color: $primary-400);

  &.outline {
    @include outline-button-state(
      $border-color: $primary-300,
      $bg-hover-color: $primary-400,
      $bg-active-color: $primary-300,
      $text-hover-color: $neutral-600
    );
  }
}

.positive,
a.positive {
  @include button-state($bg-color: $primary-500, $bg-hover-color: $primary-600);

  &.outline {
    @include outline-button-state(
      $border-color: $primary-500,
      $bg-hover-color: $primary-600,
      $bg-active-color: $primary-500,
      $text-hover-color: $neutral-600
    );
  }
}

.inactive,
a.inactive {
  @include button-state(
    $bg-color: $neutral-500,
    $bg-hover-color: $neutral-500,
    $text-color: $neutral-300
  );
  cursor: default;
}

.minimal,
a.minimal {
  display: inline-block;
  font-size: $small-font-size;
  font-weight: normal;
  min-height: inherit;
  padding: ($base-unit / 2) $base-unit;

  @media #{$mq-tablet-and-up} {
    padding: 0 $base-unit;
  }
}

/* Turns off most base default browser styles
   for button elements. */
.ghost {
  background: none;
  border: 0;
  cursor: pointer;
}

.icon-button {
  svg {
    fill: currentColor;
    height: 22px;
    margin-right: 10px;
    vertical-align: text-bottom;
    width: 22px;
  }

  &.right {
    svg {
      margin-left: 10px;
      margin-right: 0;
    }
  }
}
