button,
.button,
a.button {
  @include button-state();

  display: block;
  padding: 10px 20px;
  border-radius: 4px;
  font-weight: bold;
  max-width: max-content;
  min-height: 45px;
  text-decoration: none;
  cursor: pointer;

  &:hover,
  &:focus {
    text-decoration: none;
  }

  &:active {
    text-decoration: none;
  }
}

.outline,
a.outline {
  @include outline-button-state(
    $border-color: $primary-100,
    $text-hover-color: $neutral-600
  );
}

.danger,
a.danger {
  @include button-state($bg-color: $primary-300, $bg-hover-color: $primary-400);

  &.outline {
    @include outline-button-state(
      $border-color: $primary-300,
      $bg-hover-color: $primary-400,
      $bg-active-color: $primary-300,
      $text-hover-color: $neutral-600
    );
  }
}

.positive,
a.positive {
  @include button-state($bg-color: $primary-500, $bg-hover-color: $primary-600);

  &.outline {
    @include outline-button-state(
      $border-color: $primary-500,
      $bg-hover-color: $primary-600,
      $bg-active-color: $primary-500,
      $text-hover-color: $neutral-600
    );
  }
}

.inactive,
a.inactive {
  @include button-state(
    $bg-color: $neutral-500,
    $bg-hover-color: $neutral-500,
    $text-color: $neutral-300
  );
}

.icon {
  svg {
    margin-right: 10px;
    fill: currentColor;
    width: 22px;
    height: 22px;
    vertical-align: text-bottom;
  }

  &.right {
    svg {
      margin-right: 0;
      margin-left: 10px;
    }
  }
}
