@use "sass:math";

code {
  background-color: $neutral-550;
  box-decoration-break: clone;
  font-family: $code-inline-font-family;
  padding: 0 math.div($base-unit, 2);
  word-wrap: break-word;
}

.notranslate {
  code {
    background-color: transparent;
  }
}

.example-bad {
  background-color: $red-450;
  border-color: $red-300;
}

.example-good {
  background-color: $green-400;
  border-color: $green-300;
}
