code {
  background-color: $neutral-400;
  box-decoration-break: clone;
  font-family: $code-inline-font-family;
  padding: 0 2px;
  word-wrap: break-word;
}

.notranslate {
  code {
    background-color: transparent;
  }
}
