.icon {
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 21px;
  content: "";
  display: inline-block;
  height: 21px;
  margin-right: 5px;
  vertical-align: sub;
  width: 21px;
}

/* icon color styles to be applied to SVG elements */
.experimental,
.non-standard {
  fill: $primary-200;
}

.warning,
.deprecated {
  fill: $warning-300;
}

.obsolete {
  fill: $error-300;
}
