a {
  color: $link-color;
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: underline;
  }

  &:active {
    background-color: $primary-100;
    color: $text-color-inverted;
  }

  &[rel="external"]::before {
    display: inline-block;
    content: "";
    background: transparent url("../../dinocons/general/external.svg") 0 0px
      no-repeat;
    background-size: 21px;
    margin-right: 5px;
    width: 21px;
    height: 21px;
    vertical-align: sub;
  }

  &.mailto::before {
    display: inline-block;
    content: "";
    background: transparent url("../../dinocons/general/email.svg") 0 0px
      no-repeat;
    background-size: 21px;
    margin-right: 5px;
    width: 21px;
    height: 21px;
    vertical-align: sub;
  }
}
