@use "sass:math";

/* General Badges */
.badge {
  background-color: $neutral-575;
  border-radius: 6px;
  margin-right: math.div($base-spacing, 4);
  padding: 0 math.div($base-spacing, 4);

  a {
    color: $neutral-100;
  }
}

.html-version,
.optional,
.readonly {
  border-left: 5px solid $neutral-600;
}

.optional,
.readonly {
  border-color: $neutral-100;
}

.html-version {
  border-color: $green-200;
}

/* Specification badges */
.spec-living,
.spec-standard {
  color: $primary-50;
}

.spec-cr,
.spec-pr,
.spec-rec,
.spec-rfc {
  color: $green-100;
}

.spec-draft,
.spec-lc,
.spec-wd {
  color: $orange-100;
}

.spec-ed,
.spec-obsolete {
  color: $red-100;
}
