.notecard {
  border-left: $notecard-border;
  margin: 0;
  margin-bottom: $base-spacing;
  padding: ($base-spacing / 2);
}
.notecard::before {
  content: "notecard";
}
.notecard a:link {
  color: #212121;
  text-decoration: underline;
}
.notecard a:visited {
  color: #212121;
  text-decoration: underline;
}
.notecard a:hover {
  color: #212121;
  text-decoration: underline;
}
.notecard a:focus {
  color: #212121;
  text-decoration: underline;
}
.success {
  background-color: #ebf8e1;
  border-color: #367b48;
  border-bottom-color: #ebf8e1;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-left-color: #ebf8e1;
  border-left-style: solid;
  border-left-width: 4px;
  border-right-color: #ebf8e1;
  border-right-style: solid;
  border-right-width: 2px;
  border-top-color: #ebf8e1;
  border-top-style: solid;
  border-top-width: 2px;
  color: #212121;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding: 0.5em;
}
.success::before {
  background-color: #ebf8e1;
  color: #212121;
  content: "success";
  text-transform: uppercase;
}
.success a:link {
  color: #212121;
  text-decoration: underline;
}
.success a:visited {
  color: #212121;
  text-decoration: underline;
}
.success a:hover {
  color: #212121;
  text-decoration: underline;
}
.success a:focus {
  color: #212121;
  text-decoration: underline;
}
.note {
  background-color: $primary-400;
  border-color: $primary-200;
  border-bottom-color: $primary-400;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-left-color: $primary-400;
  border-left-style: solid;
  border-left-width: 4px;
  border-right-color: $primary-400;
  border-right-style: solid;
  border-right-width: 2px;
  border-top-color: $primary-400;
  border-top-style: solid;
  border-top-width: 2px;
  color: #212121;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding: 0.5em;
  &::before {
    content: "note";
  }
}
.secure {
  background-color: #fef1b6;
  border-color: $yellow-300;
  color: #212121;
  padding: 0.5em;
  &::before {
    content: "secure";
  }
}
.warning {
  background-color: #fef1b6;
  border-color: $yellow-300;
  color: #212121;
  padding: 0.5em;
  &::before {
    content: "warning";
  }
}
.experimental {
  background-color: #fef1b6;
  border-color: $yellow-300;
  color: #212121;
  padding: 0.5em;
  &::before {
    content: "experimental";
  }
}
.draft {
  background-color: #fef1b6;
  border-color: $yellow-300;
  color: #212121;
  padding: 0.5em;
  &::before {
    content: "draft";
  }
}
.negative {
  background-color: $red-400;
  border-color: $red-300;
  color: #212121;
  padding: 0.5em;
  &::before {
    content: "negative";
  }
}
.obsolete {
  background-color: $red-400;
  border-color: $red-300;
  color: #212121;
  padding: 0.5em;
  &::before {
    content: "obsolete";
  }
}
.deprecated {
  background-color: $red-400;
  border-color: $red-300;
  color: #212121;
  padding: 0.5em;
  &::before {
    content: "deprecated";
  }
}
