.notecard {
  border-left: $notecard-border;
  margin: 0;
  margin-bottom: $base-spacing;
  padding: ($base-spacing / 2);

  a {
    &:link,
    &:visited {
      color: $neutral-100;
      text-decoration: underline;
    }

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }

  h4 {
    display: inline-block;
    font-size: $small-medium-font-size-mobile;
    margin: 0;
    margin-bottom: ($base-spacing / 4);

    @media #{$mq-tablet-and-up} {
      font-size: $small-medium-font-size;
    }
  }

  h4,
  &.inline {
    &::before {
      background-repeat: no-repeat;
      background-size: 18px;
      content: "";
      display: inline-block;
      height: 21px;
      margin-right: $base-spacing / 4;
      position: relative;
      top: 2px;
      width: 20px;
    }
  }

  p {
    margin-bottom: $base-spacing / 2;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &.inline {
    font-weight: normal;
    margin: $base-spacing / 4;
    padding: ($base-spacing / 8) ($base-spacing / 4);

    &::before {
      top: 5px;
    }

    p {
      display: inline-block;
      margin-bottom: 0;
    }
  }

  &.success {
    background-color: $green-400;
    border-color: $green-200;
    color: $neutral-100;

    h4::before {
      background: transparent url("~@mdn/dinocons/general/check-mark.svg") 0 2px
        no-repeat;
    }
  }

  &.note {
    background-color: $primary-500;

    h4::before {
      background: transparent url("~@mdn/dinocons/file-icons/file.svg") 0 2px
        no-repeat;
    }
  }

  &.warning,
  &.experimental,
  &.draft,
  &.secure {
    background-color: $yellow-400;
    border-color: $yellow-300;
    color: $neutral-100;

    h4::before {
      background: transparent
        url("~@mdn/dinocons/notifications/exclamation-triangle.svg") 0 2px
        no-repeat;
    }
  }

  &.experimental {
    h4::before {
      background-image: url("~@mdn/dinocons/general/flask.svg");
    }
  }

  &.draft {
    h4::before {
      background-image: url("~@mdn/dinocons/general/pencil.svg");
    }
  }

  &.secure {
    h4,
    &.inline {
      &::before {
        background-image: url("~@mdn/dinocons/general/lock.svg");
      }
    }
  }

  &.negative,
  &.obsolete,
  &.deprecated {
    background-color: $red-400;
    border-color: $red-300;
    color: $neutral-100;

    h4::before {
      background: transparent url("~@mdn/dinocons/general/trash.svg") 0 2px
        no-repeat;
    }
  }

  &.deprecated {
    h4::before {
      background-image: url("~@mdn/dinocons/emojis/thumbs-down.svg");
    }
  }
}
