/* 
 * Standard table styles. For an example see:
 * https://developer.mozilla.org/en-US/docs/Web/HTML/Element/video#Events
 */
.standard-table,
.properties {
  border-collapse: collapse;
  width: 100%;

  a {
    color: $neutral-100;
    text-decoration: underline;
  }

  th,
  td {
    border-left: 1px solid $neutral-600;
    padding: $base-unit ($base-spacing / 2);
    text-align: left;
  }

  th {
    background-color: $neutral-500;
    border-bottom: 2px solid $neutral-400;
  }

  td {
    background-color: $neutral-550;
    border-bottom: 2px solid $neutral-600;
  }
}

/*
 * Property tables, for an example see :
 * https://developer.mozilla.org/en-US/docs/Web/HTML/Element/video#Technical_summary
 */
.properties {
  @include readable-line-length();
  border-left: 5px solid $primary-100;

  th,
  td {
    background-color: $neutral-550;
    border: 0;
    padding: ($base-spacing / 2) $base-spacing;
    vertical-align: top;
  }

  tr:nth-child(even) th,
  tr:nth-child(even) td {
    background-color: $neutral-525;
  }
}

/*
 * Done this way to avoid the following stylelint error: no-descending-specificity 
 * https://stylelint.io/user-guide/rules/no-descending-specificity
 */
.standard-table {
  tr th:first-child,
  tr td:first-child {
    border-left: 0;
  }

  tr:nth-child(even) td {
    background-color: $neutral-525;
  }
}
