/* 
 * Standard table styles. For an example see:
 * https://developer.mozilla.org/en-US/docs/Web/HTML/Element/video#Events
 */
.standard-table,
.properties {
  border-collapse: collapse;

  a {
    color: $neutral-100;
    text-decoration: underline;
  }

  th,
  td {
    text-align: left;
  }
}

/*
 * Property tables, for an example see :
 * https://developer.mozilla.org/en-US/docs/Web/HTML/Element/video#Technical_summary
 */
.properties {
  @include readable-line-length();
  border: 2px solid $primary-100;
  border-left: ($base-unit * 2) solid $primary-100;

  th,
  td {
    background-color: $primary-500;
    border: 0;
    border-top: 2px solid $primary-100;
    display: block;
    padding: ($base-spacing / 2);
    vertical-align: top;

    @media #{$mq-small-desktop-and-up} {
      display: table-cell;
    }
  }

  @media #{$mq-small-desktop-and-up} {
    th {
      min-width: 30%;
    }
  }
}

/*
 * Done this way to avoid the following stylelint error: no-descending-specificity 
 * https://stylelint.io/user-guide/rules/no-descending-specificity
 */
.standard-table {
  border-left: ($base-unit * 2) solid $green-100;
  width: 100%;

  th,
  td {
    border-left: 2px solid $neutral-600;
    padding: $base-unit ($base-spacing / 2);
  }

  th {
    background-color: $neutral-550;
    border-bottom: 2px solid $neutral-600;
  }

  td {
    background-color: $green-400;
    border-bottom: 2px solid $neutral-600;
  }

  tr th:first-child,
  tr td:first-child {
    border-left: 0;
  }

  tr:last-child td {
    border-bottom: 0;
  }
}
