@font-face {
  font-family: zillaslab;
  font-display: swap;
  src: url("../../typography/ZillaSlab-Bold.subset.woff2") format("woff2"),
    url("../../typography/ZillaSlab-Bold.subset.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: zillaslab;
  font-display: swap;
  src: url("../../typography/ZillaSlab-Regular.subset.woff2") format("woff2"),
    url("../../typography/ZillaSlab-Regular.subset.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

h1,
h2,
h3 {
  @include set-heading-font-family();
  line-height: $heading-line-height;
}

h1 {
  @include heading-1();
}

h2 {
  @include heading-2();
}

h3 {
  @include heading-3();
  background-color: $neutral-100;
  color: $text-color-inverted;
  padding: 0 4px 0 40px;
  font-weight: 400;
}

h4 {
  @include heading-4();
}

h5 {
  @include heading-5();
}

p {
  margin-bottom: $content-block-margin;
}

.tiny-text {
  font-size: $tiny-text;
}

.readable-line-length {
  max-width: $max-line-length;
}

/* text links */
a:link,
a:visited {
  color: $link-color;
  text-decoration: none;

  &:hover,
  &:focus,
  &:active {
    text-decoration: underline;
  }
}

/* mono space elements pre, code, kbd */
code {
  background-color: rgba(220, 220, 220, 0.5);
  box-decoration-break: clone;
  padding: 0 2px;
  border-radius: 2px;
  font-family: $code-inline-font-family;
  word-wrap: break-word;
}
