@use "../vars/" as *;

ul.swatch-library {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin: 48px 0;
}

.swatch {
  background-color: #edecec;
  height: 100px;
  padding-top: 125px;
  width: 150px;
}

.mdn-neutral100 {
  background-color: $mdn-neutral100;
}

.mdn-blue100 {
  background-color: $mdn-blue100;
}

.mdn-green100 {
  background-color: $mdn-green100;
}

.mdn-yellow100 {
  background-color: $mdn-yellow100;
}

.mdn-red100 {
  background-color: $mdn-red100;
}

.mdn-orange100 {
  background-color: $mdn-orange100;
}

.mdn-neutral200 {
  background-color: $mdn-neutral200;
}

.mdn-blue200 {
  background-color: $mdn-blue200;
}

.mdn-green200 {
  background-color: $mdn-green200;
}

.mdn-yellow200 {
  background-color: $mdn-yellow200;
}

.mdn-red200 {
  background-color: $mdn-red200;
}

.mdn-orange200 {
  background-color: $mdn-orange200;
}

.mdn-neutral300 {
  background-color: $mdn-neutral300;
}

.mdn-blue300 {
  background-color: $mdn-blue300;
}

.mdn-green300 {
  background-color: $mdn-green300;
}

.mdn-yellow300 {
  background-color: $mdn-yellow300;
}

.mdn-red300 {
  background-color: $mdn-red300;
}

.mdn-orange300 {
  background-color: $mdn-orange300;
}

.mdn-neutral400 {
  background-color: $mdn-neutral400;
}

.mdn-blue400 {
  background-color: $mdn-blue400;
}

.mdn-green400 {
  background-color: $mdn-green400;
}

.mdn-yellow400 {
  background-color: $mdn-yellow400;
}

.mdn-red400 {
  background-color: $mdn-red400;
}

.mdn-orange400 {
  background-color: $mdn-orange400;
}

.mdn-neutral500 {
  background-color: $mdn-neutral500;
}

.mdn-blue500 {
  background-color: $mdn-blue500;
}

.mdn-green500 {
  background-color: $mdn-green500;
}

.mdn-yellow500 {
  background-color: $mdn-yellow500;
}

.mdn-red500 {
  background-color: $mdn-red500;
}

.mdn-orange500 {
  background-color: $mdn-orange500;
}

.mdn-neutral600 {
  background-color: $mdn-neutral600;
}

.mdn-blue600 {
  background-color: $mdn-blue600;
}

.mdn-green600 {
  background-color: $mdn-green600;
}

.mdn-yellow600 {
  background-color: $mdn-yellow600;
}

.mdn-red600 {
  background-color: $mdn-red600;
}

.mdn-orange600 {
  background-color: $mdn-orange600;
}

.mdn-neutral700 {
  background-color: $mdn-neutral700;
}

.mdn-blue700 {
  background-color: $mdn-blue700;
}

.mdn-green700 {
  background-color: $mdn-green700;
}

.mdn-yellow700 {
  background-color: $mdn-yellow700;
}

.mdn-red700 {
  background-color: $mdn-red700;
}

.mdn-orange700 {
  background-color: $mdn-orange700;
}

.mdn-neutral800 {
  background-color: $mdn-neutral800;
}

.mdn-blue800 {
  background-color: $mdn-blue800;
}

.mdn-green800 {
  background-color: $mdn-green800;
}

.mdn-yellow800 {
  background-color: $mdn-yellow800;
}

.mdn-red800 {
  background-color: $mdn-red800;
}

.mdn-orange800 {
  background-color: $mdn-orange800;
}

.mdn-neutral900 {
  background-color: $mdn-neutral900;
}

.mdn-blue900 {
  background-color: $mdn-blue900;
}

.mdn-green900 {
  background-color: $mdn-green900;
}

.mdn-yellow900 {
  background-color: $mdn-yellow900;
}

.mdn-red900 {
  background-color: $mdn-red900;
}

.mdn-orange900 {
  background-color: $mdn-orange900;
}
