@use "sass:math";

.toc {
  bottom: math.div($base-spacing, 2);
  max-height: 95vh;
  overflow: scroll;
  position: sticky;
  top: math.div($base-spacing, 2);

  nav > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    padding-left: math.div($base-spacing, 2);
  }
}
