@supports (display: grid) {
  .page-wrapper {
    display: grid;
    grid-template-columns: 100%;
  }

  .document-page {
    .page-header,
    .titlebar-container,
    .breadcrumbs-locale-container,
    .page-content-container,
    .metadata,
    .page-footer {
      grid-column: 1/2;
    }

    .page-header {
      grid-row: 1/2;
    }

    .breadcrumbs-locale-container {
      display: flex;
      grid-row: 2/3;
      margin: 0 auto;
      max-width: $max-width-default;
      width: 100%;

      .breadcrumb-container {
        flex-basis: 70%;
      }

      .locale-container {
        flex-basis: 30%;
      }
    }

    .titlebar-container {
      grid-row: 3/4;
    }

    .page-content-container {
      display: grid;
      grid-row: 5/6;
      grid-template-columns: 100%;
    }

    .metadata {
      grid-row: 6/7;
    }

    .page-footer {
      grid-row: 7/8;
    }

    /* The toc, sidebar, and main elements are
    inside a separate page-content-container grid element. */
    .document-toc-container,
    .main-content,
    .sidebar {
      grid-column: 1/2;
    }

    .document-toc-container {
      grid-row: 1/2;
    }

    .main-content {
      grid-row: 2/3;
    }

    .sidebar {
      grid-row: 3/4;
    }
  }
}
