@supports (display: grid) {
  .reference-page {
    .page-header,
    .titlebar-container,
    .breadcrumb-locale-container,
    .page-footer {
      grid-column: 1/4;
    }

    .page-header {
      grid-row: 1/2;
    }

    .titlebar-container {
      grid-row: 3/4;

      @media #{$mq-small-desktop-and-up} {
        grid-row: 2/3;
      }
    }

    .breadcrumb-locale-container {
      grid-row: 2/3;

      @media #{$mq-small-desktop-and-up} {
        grid-row: 3/4;
      }
    }

    .document-toc-container {
      grid-column: 1/4;
      grid-row: 4/5;

      @media #{$mq-small-desktop-and-up} {
        grid-column: 1/2;
      }
    }

    .main-content {
      grid-column: 1/4;
      grid-row: 5/6;

      @media #{$mq-small-desktop-and-up} {
        grid-column: 2/4;
        grid-row: 4/6;
      }
    }

    .sidebar {
      grid-column: 1/4;
      grid-row: 7/8;

      @media #{$mq-small-desktop-and-up} {
        grid-column: 1/2;
        grid-row: 5/6;
      }
    }

    .page-footer {
      grid-row: 6/7;
    }
  }
}
