@supports (display: grid) {
  .page-wrapper {
    display: grid;
    gap: 20px;
  }

  .page-header,
  .titlebar-container,
  .breadcrumb-locale-container,
  main,
  .document-toc-container,
  .article,
  .sidebar,
  .newsletter-container,
  .page-footer {
    grid-column: 1/4;
  }

  .page-header {
    grid-row: 1/2;
  }

  .titlebar-container {
    grid-row: 3/4;
  }

  .breadcrumb-locale-container {
    grid-row: 2/3;
  }

  main {
    display: grid;
    gap: 20px;
    grid-row: 4/5;

    .document-toc-container {
      grid-row: 1/2;

      @media #{$mq-small-desktop-and-up} {
        grid-column: 1/2;
      }
    }

    .article {
      grid-row: 2/3;

      @media #{$mq-small-desktop-and-up} {
        grid-row: 1/3;
        grid-column: 2/4;
      }
    }

    .sidebar {
      grid-row: 3/4;

      @media #{$mq-small-desktop-and-up} {
        grid-row: 2/3;
        grid-column: 1/2;
      }
    }
  }

  .newsletter-container {
    grid-row: 5/6;
  }

  .page-footer {
    grid-row: 6/7;
  }
}
