@include describe("set-heading-font-family") {
  @include it("Returns the expected font-family for headings") {
    @include assert {
      @include output {
        @include set-heading-font-family();
      }

      @include expect {
        font-family: zillaslab, palatino, "Palatino Linotype", serif;
      }
    }
  }
}

@include describe("set-site-font-family") {
  @include it("Returns the expected font-family for general content") {
    @include assert {
      @include output {
        @include set-site-font-family();
      }

      @include expect {
        font-family: arial, x-locale-body, sans-serif;
        letter-spacing: -0.0027777778rem;
      }
    }
  }
}

@include describe("font-smoothing") {
  @include it("Returns prefixed style rules for font-smoothing") {
    @include assert {
      @include output {
        @include font-smoothing();
      }

      @include expect {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }
    }
  }
}
