@include describe("button-state") {
  @include it("Returns the default button state") {
    @include assert {
      @include output {
        @include button-state();
      }

      @include expect {
        background-color: #005282;
        border: 2px solid #005282;
        color: #fff;

        &:hover,
        &:focus {
          background-color: #0072b3;
          border-color: #0072b3;
        }

        &:active {
          background-color: #005282;
          border-color: #005282;
        }
      }
    }
  }

  @include it("Returns custom button state") {
    @include assert {
      @include output {
        @include button-state(
          $bg-color: $mdn-blue300,
          $bg-hover-color: $mdn-blue200
        );
      }

      @include expect {
        background-color: #83bfff;
        border: 2px solid #83bfff;
        color: #fff;

        &:hover,
        &:focus {
          background-color: #bbd8ff;
          border-color: #bbd8ff;
        }

        &:active {
          background-color: #83bfff;
          border-color: #83bfff;
        }
      }
    }
  }

  @include it("Returns the default outline button state") {
    @include assert {
      @include output {
        @include outline-button-state();
      }

      @include expect {
        background-color: #fff;
        border-color: #0072b3;
        color: #0072b3;

        &:hover,
        &:focus {
          color: #0072b3;
        }
      }
    }
  }

  @include it("Returns custom outline button state") {
    @include assert {
      @include output {
        @include outline-button-state(
          $border-color: $mdn-blue300,
          $bg-hover-color: $mdn-blue200,
          $bg-active-color: $mdn-blue300,
          $text-hover-color: $mdn-neutral600
        );
      }

      @include expect {
        background-color: #fff;
        border-color: #83bfff;
        color: #83bfff;

        &:hover,
        &:focus {
          background-color: #bbd8ff;
          border-color: #bbd8ff;
          color: #6d6d6d;
        }

        &:active {
          background-color: #83bfff;
          border-color: #83bfff;
        }
      }
    }
  }
}

@include describe("bordered") {
  @include it("Returns the default border") {
    @include assert {
      @include output {
        @include bordered();
      }

      @include expect {
        border: 2px solid #005282;
      }
    }
  }

  @include it("Returns a 5px border with default color") {
    @include assert {
      @include output {
        @include bordered($border-thickness: 5px);
      }

      @include expect {
        border: 5px solid #005282;
      }
    }
  }

  @include it("Returns border with default border width but custom color") {
    @include assert {
      @include output {
        @include bordered($border-color: $mdn-neutral100);
      }

      @include expect {
        border: 2px solid #f4f4f4;
      }
    }
  }

  @include it("Returns border with custom border thickness and color") {
    @include assert {
      @include output {
        @include bordered(
          $border-thickness: 5px,
          $border-color: $mdn-neutral100
        );
      }

      @include expect {
        border: 5px solid #f4f4f4;
      }
    }
  }
}
