@include describe("set-heading-font-family") {
  @include it("Returns the expected font-family for headings") {
    @include assert {
      @include output {
        @include set-heading-font-family();
      }

      @include expect {
        font-family: zillaslab, palatino, "Palatino Linotype", serif;
      }
    }
  }
}

@include describe("set-site-font-family") {
  @include it("Returns the expected font-family for general content") {
    @include assert {
      @include output {
        @include set-site-font-family();
      }

      @include expect {
        font-family: arial, x-locale-body, sans-serif;
        letter-spacing: -0.0027777778rem;
      }
    }
  }
}

@include describe("headings-common-base") {
  @include it("Returns the expected base style for headings") {
    @include assert {
      @include output {
        @include headings-common-base();
      }

      @include expect {
        font-family: zillaslab, palatino, "Palatino Linotype", serif;
        letter-spacing: 0.035rem;
        line-height: 1.2;
      }
    }
  }
}

@include describe("font-smoothing") {
  @include it("Returns prefixed style rules for font-smoothing") {
    @include assert {
      @include output {
        @include font-smoothing();
      }

      @include expect {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }
    }
  }
}

@include describe("slab-highlight") {
  @include it("Returns ZillaSlab Highlight style") {
    @include assert {
      @include output {
        @include slab-highlight();
      }

      @include expect {
        background-color: #1b1b1b;
        color: #fff;
        font-family: zillaslab, palatino, "Palatino Linotype", serif;
        font-weight: normal;
        max-width: max-content;
        padding: 0 6px;
      }
    }
  }
}
