.delete-user {
    @include card();
    margin: 20px auto;
    padding: 20px;
    max-width: 550px;

    header {
        text-align: center;
    }

    p {
        padding: 0;
        text-align: left;
    }

    form {
        text-align: right;

        .simple-text {
            @include btn-simple-text();
            margin-right: 10px;
        }

        .error-message {
            color: $brand-red;
            margin: 12px 0;
            font-weight: bold;
        }

        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            text-align: left;

            li {
                margin-bottom: 12px;

                &:last-child {
                    margin-bottom: 24px;
                }
            }
        }
    }
}

.hidden {
    display: none;
}
