.article {
  p,
  ul,
  ol,
  dl {
    @include readable-line-length();
  }

  h2 {
    margin-bottom: ($base-unit * 6);

    a {
      color: $neutral-100;
    }
  }

  a:active {
    background-color: $primary-200;
    color: $text-color-inverted;
  }
}
