name: build-dist
on:
  push:
    branches:
      - main
jobs:
  dist:
    name: build-dist
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2.1.4
        with:
          node-version: "14"
      - name: Install dependencies
        run: |
          yarn
      - name: Build Minimalist distribution
        run: |
          yarn build:dist
      - uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: Latest CSS distribution build
